body {
    margin: 0px;
    padding: 50px;
    background-color: white;

}

.container {
    width: 100%;
  
    background-color:deeppink;
    border: 10px solid gold;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.Testmonials {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  
}


.Testmonials div {
    
    width: 25%;
    height: 300px;
    background-color:white;
    width: 300px;
    margin: 5px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px; 
    padding-bottom: 20px;
}

h1 {
    font-family: 'Basic', sans-serif;

}

.Testmonials div img {
    width: 150px;
}
p {
    font-family: 'Marck Script', cursive;
    
   
}

#star1 , #star2 , #star3 {
    height: 10px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#star1 img , #star2 img , #star3 img {
    width: 20px;
}


/* Animation */
.bolc1 {
    animation-name: blocc1;
    animation-duration: 1s;
    position: relative;

}

.bolc2 {
    animation-name: blocc2;
    animation-duration: 1s;
    position: relative;
}
.bolc3 {
    animation-name: blocc3;
    animation-duration: 1s;
    position: relative;

}
@keyframes blocc1 {
    0% {left: -500px;}
    100% {left: 0px;}
}

@keyframes blocc2 {
    0% {bottom: -500px;}
    100% {bottom: 0px;}
}


@keyframes blocc3 {
    0% {right: -500px;}
    100% {right: 0px;}
}

.bolc1:hover,.bolc2:hover,.bolc3:hover {
    border: 10px solid gold;
    height: 280px;

}
